#######################################
# fritzbox-exporter - Fritz!Box Upnp statistics exporter for prometheus
# installed via ansible {{ ansible_date_time['date'] }}
#######################################

networks:
  {{ docker.external_network }}:
    name: {{ docker.external_network }}
    external: true

services:
    fritzbox_exporter:
      image: ghcr.io/sberk42/fritzbox_exporter:{{ docker.fritzbox_exporter }}
      restart: unless-stopped
      ports:
        - "9042:9042"
      environment:
        USERNAME: {{fritzbox_exporter.user}}
        PASSWORD: {{fritzbox_exporter.password}}
        GATEWAY_URL: {{fritzbox_exporter.gateway}}
        LISTEN_ADDRESS: 0.0.0.0:9042
      networks:
        - {{ docker.external_network }}
