---
# For configuration options and examples, please see:
# https://gethomepage.dev/configs/settings/

title: Unser Zuhause
description: Der Einstieg in Smarthome

layout:
  Haus:
    style: row
    columns: 3
  Unterhaltung:
    style: row
    columns: 2
  Werkzeug:
    style: row
    columns: 3
  Administration:
    style: row
    columns: 3

providers:
  openweathermap: openweathermapapikey
  weatherapi: weatherapiapikey