---
# For configuration options and examples, please see:
# https://gethomepage.dev/configs/services/

- Haus:
  - FRITZ!Box:
      icon: fritzbox.png
      href: http://192.168.10.1
      widget:
        type: fritzbox
        url: http://192.168.10.1