---
# For configuration options and examples, please see:
# https://gethomepage.dev/configs/settings/

title: Unser Zuhause
description: Der Einstieg in Smarthome

layout:
  Haus:
    style: row
    columns: 4
  Unterhaltung:
    style: row
    columns: 2
  Werkzeug:
    style: row
    columns: 2
  Administration:
    style: row
    columns: 4

providers:
  openweathermap: openweathermapapikey
  weatherapi: weatherapiapikey