#######################################
# Home Assistant - Open source home automation that puts local control and privacy first
# installed via ansible {{ ansible_date_time['date'] }}
#######################################
# network_mode: host enable autscan for devices
# If you select the traefik_default network, you have to configure every device manually
#######################################

services:
  homeassistant:
    container_name: homeassistant
    image: ghcr.io/home-assistant/home-assistant:{{ docker.homeassistant }}
    pull_policy: always
    volumes:
      - /srv/docker/data/homeassistant:/config
      - /etc/localtime:/etc/localtime:ro
    restart: unless-stopped
    privileged: true
    network_mode: host
