#######################################
# jellyfin - media server
# installed via ansible {{ ansible_date_time['date'] }}
#######################################

networks:
  {{ dockerall.external_network }}:
    name: {{ dockerall.external_network }}
    external: true

services:
  jellyfin:
    image: jellyfin/jellyfin  #:{{ docker.jellyfin }}
    container_name: jellyfin
    environment:
      - PUID=1027
      - PGID={{ dockerall.group }}
      - TZ=Europe/London
      - JELLYFIN_PublishedServerURL=http://{{ main.hostname }}/jellyfin
    volumes:
      - {{ dockerall.data_path }}jellyfin-data/config:/config
      - {{ dockerall.data_path }}jellyfin-data/cache:/cache
      - /mnt/media:/media
    labels:
# Traefik configuration removed. It works fine with browsers, but not with applications.
#      - traefik.enable=true
#      - traefik.http.routers.jellyfin.entryPoints=web
#      - traefik.http.routers.jellyfin.rule=host(`{{ main.hostname }}`) && PathPrefix(`/jellyfin`)
#      - traefik.http.routers.jellyfin.service=jellyfin
#      - traefik.http.routers.jellyfin.middlewares=jellyfin-stripprefix
#      - traefik.http.middlewares.jellyfin-stripprefix.stripprefix.prefixes=/jellyfin
#      - traefik.http.middlewares.jellyfin-stripprefix.stripprefix.forceslash=true
#      - traefik.http.services.jellyfin.loadbalancer.server.port=8096
      - homepage.group=Unterhaltung
      - homepage.icon=jellyfin.png 
      - homepage.name=JellyFin
      - homepage.href=http://{{ main.hostname }}:8096
      - homepage.description=Die Mediathek
      - homepage.showStats=false
    ports:
      - 8096:8096
      - 8920:8920        # optional
      - 7359:7359/udp    # optional
      # - 1900:1900/udp  # optional, port is blocked by home assistant
    restart: unless-stopped
    networks:
      - {{ dockerall.external_network }}
