#######################################
# Mealie - recipe manager, meal planner and shopping list
# installed via ansible {{ ansible_date_time['date'] }}
#######################################

networks:
  {{ dockerall.external_network }}:
    name: {{ dockerall.external_network }}
    external: true

services:
  mealie:
    image: ghcr.io/mealie-recipes/mealie:{{ docker.mealie }}
    container_name: mealie
    restart: always
    user:
      {{ dockerall.id }}:{{ dockerall.group }}
    labels:
# Mealie doesn't support subpath, therefore traefik is not working as expected
#      - traefik.enable=true
#      - traefik.http.routers.mealie.entrypoints=web
#      - traefik.http.routers.mealie.rule=host(`{{ main.hostname }}`) && PathPrefix(`/mealie`)
#      - traefik.http.routers.mealie.middlewares=mealie-stripprefix
#      - traefik.http.routers.mealie.service=mealie
#      - traefik.http.middlewares.mealie-stripprefix.stripprefix.prefixes="`/mealie`"
#      - traefik.http.middlewares.mealie-stripprefix.stripprefix.forceslash="true"
#      - traefik.http.services.mealie.loadbalancer.server.port=9000
      - homepage.group=Haus
      - homepage.icon=mealie.png
      - homepage.name=Mealie
      - homepage.href=http://{{ main.hostname }}:9925
      - homepage.description=Rezeptverwaltung
      - homepage.showStats=false
    ports:
        - "9925:9000" # 
    deploy:
      resources:
        limits:
          memory: 1000M # 
    volumes:
      - {{ dockerall.data_path }}mealie-data:/app/data/
    environment:
      # Set Backend ENV Variables Here
      ALLOW_SIGNUP: "false"
      PUID: {{ dockerall.id }}
      PGID: {{ dockerall.group }}
      TZ: Europe/Berlin
      BASE_URL: http://{{ main.hostname }}
    networks:
      - {{ dockerall.external_network }}