#######################################
# paperless-ngx - paperless office
#######################################

networks:
  {{ dockerall.external_network }}:
    name: {{ dockerall.external_network }}
    external: true

services:
  broker:
    image: docker.io/valkey/valkey:{{ docker.valkey }}
    restart: unless-stopped
    volumes:
      - {{ dockerall.data_path }}paperless-ngx-data/redis:/data
    networks:
      - {{ dockerall.external_network }}
  webserver:
    image: ghcr.io/paperless-ngx/paperless-ngx:{{ docker.paperless_ngx }}
    restart: unless-stopped
    user: '{{ nas.userid }}:{{ nas.groupid }}'
    depends_on:
      - broker
#    ports:
#      - "8000:8000"
    volumes:
      - {{ dockerall.data_path }}paperless-ngx-data/sqlite:/usr/src/paperless/data
      - /mnt/Aktenschrank/Ablage:/usr/src/paperless/media
      - /mnt/Aktenschrank/Ausgang:/usr/src/paperless/export
      - /mnt/Aktenschrank/Eingang:/usr/src/paperless/consume
    environment:
      PAPERLESS_REDIS: redis://broker:6379
      PAPERLESS_DBENGINE: sqlite
      COMPOSE_PROJECT_NAME: paperless
      PAPERLESS_TIME_ZONE: Europe/Berlin
      PAPERLESS_SECRET_KEY: {{ secret_paperless_ngx.secret_key }}
      PAPERLESS_ADMIN_USER: {{ secret_paperless_ngx.admin_user }}
      PAPERLESS_ADMIN_PASSWORD: {{ secret_paperless_ngx.admin_password }}
      PAPERLESS_OCR_LANGUAGE: deu
      PAPERLESS_FORCE_SCRIPT_NAME: /paperless
      PAPERLESS_STATIC_URL: /paperless/static/
      USERMAP_ID: {{ nas.userid }}
      USERMAP_GID: {{ nas.groupid }}
    labels:
      - traefik.enable=true
      - traefik.http.routers.paperless.entryPoints=web
      - traefik.http.routers.paperless.rule=host(`{{ main.hostname }}`) && PathPrefix(`/paperless`)
      - traefik.http.services.paperless.loadbalancer.server.port=8000
      - homepage.group=Haus
#      - homepage.icon=calibre.png 
      - homepage.name=Paperless-ngx
      - homepage.href=http://{{ main.hostname }}/paperless
      - homepage.description=Aktenschranj
      - homepage.showStats=false
      - homepage.widget.type=paperlessngx
      - homepage.widget.url={{ main.hostname }}/paperless
      - homepage.widget.key={{ secret_paperless_ngx.token }}
    networks:
      - traefik_external
