global:
  scrape_interval:     1m # By default, scrape targets every 15 seconds.
  scrape_timeout:     45s
  evaluation_interval: 1m

  # Attach these labels to any time series or alerts when communicating with
  # external systems (federation, remote storage, Alertmanager).
  external_labels:
    monitor: 'kds115-monitor'

  # Rule files path
#rule_files:
#  - /etc/alertmanager_ruleset.yml

# A scrape configuration containing exactly one endpoint to scrape:
# Here it's Prometheus itself.

scrape_configs:

  # The job name is added as a label `job=<job_name>` to any timeseries scraped from this config.
#  - job_name: 'prometheus'

#    Override the global default and scrape targets from this job every 5 seconds.
#    scrape_interval: 10s

### Prometheus

  - job_name: prometheus
    metrics_path: /prometheus/metrics
    static_configs:
      - targets: ['{{ main.hostname }}']
        labels:
          node: 'jarvis'
          group: 'kds115'

## Reverse proxy monitoring

  - job_name: traefik
    metrics_path: /traefik/metrics
    static_configs:
      - targets: ['{{ main.hostname }}']
        labels:
          node: 'jarvis'
          group: 'kds115'

### cAdvisor

  - job_name: cadvisor
    metrics_path: /cadvisor/metrics
    static_configs:
      - targets: ['{{ main.hostname }}']
        labels:
          node: 'jarvis'
          group: 'kds115'

### node-exporter

  - job_name: node-exporter
    metrics_path: /node-exporter/metrics
    static_configs:
      - targets: ['{{ main.hostname }}']
        labels:
          node: 'jarvis'
          group: 'kds115'

### fritzbox-exporter

  - job_name: fritzbox-exporter
    metrics_path: /metrics
    static_configs:
      - targets: ['{{ hostvars[inventory_hostname]['ansible_default_ipv4']['address'] }}:9042']
        labels:
          node: 'jarvis'
          group: 'kds115'

### WhatsUpDocker

  - job_name: whatsupdocker
    metrics_path: /metrics
    static_configs:
      - targets: ['wud:3000']
        labels:
          node: 'jarvis'
          group: 'kds115' 