[Unit]
Description=Nightly job - {{ backup.systemd_name }}

[Service]
Type=oneshot
User=root
Group=root
ExecStart={{ mydocker.path }}/{{ backup.backup_filename }}
WorkingDirectory={{ mydocker.path }}
StandardOutput=journal
StandardError=journal