[Unit]
Description=Nightly job - {{ backup.systemd_name }}

[Service]
Type=oneshot
User=root
Group=root
ExecStart={{ docker.path }}/{{ backup.backup_filename }}
WorkingDirectory={{ docker.path }}
StandardOutput=journal
StandardError=journal