[Unit]
Description=Nightly job - {{ backup.systemd_name }}
After=network.targets

[Service]
Type=oneshot
User=root
Group=root
ExecStart="{{ main.docker_path }}/{{ backup.backup_filename }}"
WorkingDirectory="{{ main.docker_path }}"
StandardOutput=journal
StandardError=journal