#######################################
# Traefik - Reverse proxy
# installed via ansible {{ ansible_date_time['date'] }}
#######################################

networks:
  {{ docker.external_network }}:
    name: {{ docker.external_network }}
    external: true
  {{ docker.internal_network}}:
    name: {{ docker.internal_network}}
    external: true

services:
  # Security Proxy for docker socket
  docker-socket-proxy:
    image: tecnativa/docker-socket-proxy:latest
    container_name: docker-socket-proxy
    restart: unless-stopped
    volumes:
      # Readonly access to docker socket
      - /var/run/docker.sock:/var/run/docker.sock:ro
    ports:
      - 2375:2375
    tmpfs:
      - /run
    environment:
      - CONFIGS=1
      - CONTAINERS=1
      - EVENTS=1
      - NETWORKS=1
      - SERVICES=1
      - IMAGES=1
      - PING=1
    networks:
      - {{ docker.internal_network}}

  reverse-proxy:
    image: traefik:{{ docker.traefik }}
    labels:
      # Enable traefik for this container
      - traefik.enable=true
      # Enable prometheus metrics with PathPrefix
      # Unsecure configuration, don't use it in public environment
      - traefik.http.routers.metrics.entryPoints=web
      - traefik.http.routers.metrics.rule=Host(`{{ main.hostname }}`) && PathPrefix(`/traefik/metrics`)
      - traefik.http.routers.metrics.middlewares=metrics-stripprefix
      - traefik.http.routers.metrics.service=prometheus@internal
      - traefik.http.middlewares.metrics-stripprefix.stripprefix.prefixes=/traefik
      - traefik.http.services.metricsservice.loadbalancer.server.port=8082
      # Enable traefik dashboard and api
      # Unsecure configuration, don't use it in public environment
      - traefik.http.routers.dashboard.entryPoints=web
      - traefik.http.routers.dashboard.rule=Host(`{{ main.hostname }}`) && (PathPrefix(`/traefik/dashboard`) || PathPrefix(`/api`))
      - traefik.http.routers.dashboard.middlewares=dashboard-stripprefix
      - traefik.http.routers.dashboard.service=api@internal
      - traefik.http.middlewares.dashboard-stripprefix.stripprefix.prefixes=/traefik
    command:
      - --api=true
      - --api.dashboard=true
      - --metrics.prometheus=true
      - --metrics.prometheus.entryPoint=metrics
      - --log.level=Debug
      - --providers.docker=true
      - --providers.docker.endpoint=tcp://docker-socket.proxy:2375
      - --providers.docker.network={{ docker.internal_network }}
      - --providers.docker.exposedByDefault=false
      - --providers.file.directory=/certs
      - --providers.file.watch=true
      - --entryPoints.web.address=:80
      - --entryPoints.metrics.address=:8082

    restart: always
    networks:
      - {{ docker.external_network }}
      - {{ docker.internal_network }}
    ports:
      - "80:80" # The HTTP port
#    volumes:
#      - /var/run/docker.sock:/var/run/docker.sock:ro # So that Traefik can listen to the Docker events
