#######################################
# wud - Whats up Docker
# installed via ansible {{ ansible_date_time['date'] }}
#######################################

networks:
  traefik_default:
    name: traefik_default
    external: true

services:
  wud:
    image: getwud/wud:{{ docker.wud }}
    pull_policy: always
    container_name: wud
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock

# Currently, wud doesn't support subpaths, traefik redirect is not working
#    labels:
#      - traefik.enable=true
#      - traefik.http.routers.cops.entryPoints=web
#      - traefik.http.routers.cops.rule=host(`{{ main.hostname }}`) && PathPrefix(`/cops`)
#      - traefik.http.routers.cops.service=cops
#      - traefik.http.routers.cops.middlewares=cops-stripprefix
#      - traefik.http.middlewares.cops-stripprefix.stripprefix.prefixes=/cops
#      - traefik.http.middlewares.cops-stripprefix.stripprefix.forceslash=true
#      - traefik.http.services.cops.loadbalancer.server.port=80
    ports:
      - 3000:3000
    restart: unless-stopped
    networks:
      - traefik_default
