[defaults]

inventory         = ./inventory/hosts.yml

roles_path        = ./roles

private_key_file  = ~/.ssh/ansible_sha2

allow_world_readable_tmpfiles = True

vault_password_file = ~/.password-store/ansible-vault-password